
.textbox{
  margin: 10px;
  height: 650px;
  width: 100%;
}
.kp-rj{
  margin-top: 50px;
  width: 100%;
}
.reason{
  margin-top: 50px;
  margin-bottom: 50px;
}
.comment{
  width: 100%;
  height: 200px;
}
img{
  width: 100%;
}
.scroll{
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.control{
  width: 100%
  margin: 10px;
  margin-top: 50px;
  position: fixed;
}
canvas{
  width: 100%;
}
.clr{
  margin-top: 20px;
  width: 80px;
}
.col-3{
  margin: 10px;
}
h4{
margin: 15px;
}
.skip{
  margin-top: 80px;
  float: right;
  }